<div class="header">
  <h1 class="title" (click)="refresh_site()">{{ title }}</h1>

  <div class="categories">
    <button class="main-button" (click)="main_page()">Main</button>  <button class="info-button" (click)="info_page()">Info</button> <button class="profile-button" (click)="profile_page()">Profile</button> <button class="chats-button" (click)="chat_page()">Chats</button> <img class="settings_button" src="https://media.istockphoto.com/id/1153439787/vector/setting-gear-tool-cog-isolated-flat-web-mobile-icon-vector-sign-symbol-button-element.jpg?s=612x612&w=0&k=20&c=fiC-QUJXXJF9wm-TY-oEzUsuZSpoEhr01tWq0akxjhE=" (click)="settings_open()"> <button class="logout-button" (click)="log_out()">Logout</button> <!--<button class="logout">Logout</button>-->

  </div>
</div>
