<div class="header">
  <h1 class="title" (click)="refresh_site()">{{ title }}</h1>

  <div class="categories">
    <button class="main-button" (click)="main_page()">Main</button>  <button class="info-button" (click)="info_page()">Info</button> <button class="profile-button" (click)="profile_page()">Profile</button> <button class="chats-button" (click)="chat_page()">Chats</button> <button class="logout-button" (click)="log_out()">Logout</button> <!--<button class="logout">Logout</button>-->

  </div>
</div>
