.header {
  width: 2400px;
  height: 100px;
  background: black;
  display: block;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 20px 50px rgb(75, 3, 3);
  position: relative;
  margin: auto;
}

.title {
  height: 32px;
  width: 230px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: relative;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

.main-button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 10px;
  position: relative;
  bottom: 30px;
  left: 550px;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.main-button:hover {
  background: rgb(201, 196, 196);
  color: black;
  box-shadow: 0 0 5px white, 0 0 20px white, 0 0 40px white, 0 0 150px white;
}

.info-button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 10px;
  position: relative;
  bottom: 30px;
  left: 750px;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.info-button:hover {
  background: rgb(201, 196, 196);
  color: black;
  box-shadow: 0 0 5px white, 0 0 20px white, 0 0 40px white, 0 0 150px white;
}

.profile-button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 10px;
  position: relative;
  bottom: 30px;
  left: 950px;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.profile-button:hover {
  background: rgb(201, 196, 196);
  color: black;
  box-shadow: 0 0 5px white, 0 0 20px white, 0 0 40px white, 0 0 150px white;
}

.chats-button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 10px;
  position: relative;
  bottom: 30px;
  left: 1150px;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.chats-button:hover {
  background: rgb(201, 196, 196);
  color: black;
  box-shadow: 0 0 5px white, 0 0 20px white, 0 0 40px white, 0 0 150px white;
}

.logout-button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 10px;
  position: relative;
  bottom: 30px;
  left: 1650px;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.logout-button:hover {
  background: rgb(53, 52, 52);
  color: rgb(236, 236, 236);
  box-shadow: 0 0 5px rgb(100, 100, 100), 0 0 20px rgb(100, 100, 100), 0 0 40px rgb(100, 100, 100), 0 0 150px rgb(100, 100, 100);
}

.fa {
  color: #ffff;
}

.settings_button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  bottom: 35px;
  right: 350px;
  cursor: pointer;
}
