<app-header></app-header>
<div>
  <h1>{{ title }}</h1>
  <div class="messages-box">
    <div class="background-open-chat">
    <div class="open-chat">


      <fieldset class="chat-border">
      <div class="input-send-box">
        <fieldset class="input-send-border">
      <input type="text" class="input_message" id="input_message">
      <button class="send_message" id="send_message">Send</button>
        </fieldset>
    </div>
    </fieldset>
  </div>

  </div>


  </div>
  <div class="chats-box">
    <div class="background-chats">
    <fieldset class="chats-border">
    <div class="chats"></div>
  </fieldset>
</div>
  </div>
</div>
